<div class="center hero-unit">
  <h1>Welcome to the Plaza</h1>
  <h2>
    This is the home page for Plaza
  </h2>

  <%= link_to "Instructors Get Started", '#', class: "btn btn-large btn-danger" %>
  <%= link_to "Students Get Started", '#', class: "btn btn-large btn-info" %>
</div>
