<div class="center hero-unit">
  <h1>Welcome to Plaza</h1>
  <h2>
    Students and Teachers
  </h2>

  <%= link_to "Create a course", new_course_path, class: "btn btn-large btn-danger" %>
  <%= link_to "Join a course", '#', class: "btn btn-large btn-info" %>
</div>