<div class="row">
  <div class="pull-left"> 
    <h1><%= "#{@course.title} #{@course.course_number}"  %></h1>
  </div>
  <div class="pull-right">
	  <h3></h3>
	<%= link_to "New post", new_post_path, class: "btn btn-large btn-danger" %>
  </div>
</div>

<div class="row">
<% if @course.topics.count !=0 %>
  <aside class="span4">	 
  <section>
  <table class="table table-hover">
    <thead><tr><th>Posts</th></tr></thead>
    <tbody>
	<% @topics.each do |t| %>
	<tr>
	  <td><%= link_to "#{t.posts.first.title}", controller:'posts', action:'index', topic_id:t.id %></td>
    </tr>
	<% end %>
    </tbody>
  </table>
  </section>
  </aside>
<% end %>
</div>



