<h1><%= @course.title %><h1>

<div class="row">
  <aside class="span4">
  <%= link_to "New post", new_post_path, class: "btn btn-info" %>	 
  <section>
  <table class="table table-hover">
    <thead><tr><th>Posts</th></tr></thead>
    <tbody>
	<% @topics.each do |t| %>
	<tr>
	  <td><%= link_to "#{t.posts.first.title}", controller:'posts', action:'index', topic_id:t.id %></td>
    </tr>
	<% end %>
    </tbody>
  </table>
  </section>
  </aside>
  

</div>


